body {
  /* background-color: rgb(71, 71, 71); */
  /* background: linear-gradient(135deg, #7d7e7d 0%, #0e0e0e 100%);
  background: linear-gradient(135deg, #7d7e7d 0%, #0e0e0e 100%); */
  background: linear-gradient(0deg, #7d7e7d 0%, #0e0e0e 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
}

.maparea{
  margin: auto;
}
.buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}

.inputHolder {
  padding: 10px;
  margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
  width: -webkit-fill-available;
  /* width: 93%; */
  border-radius: 25px;
  /* font-size: x-large; */
  max-height: 15px;
  height: 15px;
  font-family: sans-serif;
}

.inputHolder2 {
  padding: 10px;
  margin: 10px;

  /* width: -webkit-fill-available; */
  width: 82%;
  border-radius: 25px;
  /* font-size: x-large; */
  max-height: 30px;
  height: 30px;
  font-family: sans-serif;
}

.serialform {
  margin: 10px;
  margin-left: 2px;
  margin-right: 2px;
  /* padding: 10px; */
  /* text-align: center; */
}

.form-control {
  width: 183px;
  font-size: large;
  padding: 10px;
  /* border-radius: 23px; */
  border-top-left-radius: 25px;
  /* border-top-right-radius: 23px; */
  /* border-bottom-right-radius: 23px; */
  border-bottom-left-radius: 25px;
}

.form-btn {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: large;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.btn {
  padding: 10px;
  /* width: -webkit-fill-available; */
  border-radius: 25px;
  margin: 10px;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  font-size: large;
  cursor: pointer;
}


.btnbeta {
  border-radius: 15px;
  color: green;
  border-color: green;
  border-width: 5px;
  position: absolute;
  margin-top: 15px !important;
}

.btn-small {
  padding: 3px;

  margin: 0px;
  font-size: small;

}

.clean {
  background-color: coral;
}

.copying {
  background-color: lightgreen;
}

.device {
  margin: auto;
}

.dancers {
  display: none;
}

.repeated {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: red;
}

.last-records {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: rgb(51, 51, 51);
  font-size: small;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: aliceblue;
  padding: 4px;
}

.visible {
  display: block;
  position: absolute;
  z-index: 1;
  top: 470px;
  left: 77px;
}

nav {

  display: flex;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  color: lightgray;
  font-family: sans-serif;
  text-decoration: none !important;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  font-size: larger;

}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;

  background-color: #000000;
  color: lightgray;
  font-family: sans-serif;
  text-decoration: none !important;
}

.searchResult {}

.check-butons {
  margin-left: 10px;
  display: flex;
}

.left-buttons {
  width: 40%;
}

.pageTitle {
  font-family: sans-serif;
  color: darkturquoise;
}

.repeated2 {
  /* display: flex; */
  justify-content: space-around;
  flex-wrap: wrap;
  float: right;
  width: 80%;
  padding-bottom: 35px;
}

.inputHolder22 {
  padding: 10px;
  margin-left: 10px;
  /* width: -webkit-fill-available; */
  width: 15%;
  border-radius: 15px;
  font-family: sans-serif;
}

.greenTable {
  color: green;
}

.redTable {
  color: red;
}


.bold{
  font-weight: bold;
  color: darkred;
}

.not-show{
  display: none !important;
}

#history{
  display: flex;
    justify-content: center;
}

